/* цвет основного текста #212121 */
/* цвет вторичного текста #757575*/
/* цвет акцента #2196f3*/
/* белый #ffffff*/
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background: #f5f4fa;
  --footer-background: #2f303a;
  --icons-fill-color: #AFB1B8;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/* лого сайта */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* >outline: 2px solid tomato; */
}

.header.line {
  border-bottom: 1px solid #ececec;
}

.header.container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Навигация сайта */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;Ї
}

.nav-list .link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);

}
.nav-list .link.current {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
}

/* Контакты */
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:last-child {
  margin-left: 50px;
}

.contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
  
.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  }

/* Главный заголовок */
.hero {
  background-color: var(--footer-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}
.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  align-items: center;
}


/* Наши особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.features-item {
  min-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* .features-item::before {
  content:"";
  display: block;
  height: 120px;
  background-color: var(--second-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  margin-bottom: 30px;
}
.features-item:nth-child(1)::before {
  background-image: url(/images/antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(/images/clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(/images/diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(/images/astronaut.svg);
} */

.features-picture {
  width: 270px;
  height: 120px;
  background-color: var(--second-background);
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 100px;
}

.features-list .item {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.products {
  padding-bottom: 94px;
}

.products-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.products-item-box {
  position: relative;
}

.products-item-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.products-item-title {

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.team {
  background-color: var(--second-background);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0 auto;
}

.team-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.team-name {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-profession {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-social {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-icon {
  fill: currentColor;
}

/* Наши клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.clients-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center; 
}

.clients-list {
  display: flex;
  justify-content: space-between;
  }

.clients-icon {
  fill: currentColor;
  }

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
 }

.clients-list-link {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Футер */
.footer {
  background-color: var(--footer-background);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
  width: 206px;
}

.footer-socil-title {
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.address {
  margin-top: 20px;
}

.footer-address {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contacts .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-white {
  color: var(--primary-white-color);
}

/* Футер форма */
.footer-form-box {
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.footer-form-box input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-box input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}
.footer-send {
  margin-left: 10px;
}

/* ПОРТФОЛИО */
/* Фильтр */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-button {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio-filters-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 3 * 30px) / 3));
  margin-left: 30px;
  margin-top: 30px;
  }

.portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-item {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}


.portfolio-link:hover .overlay, 
.portfolio-link:focus .overlay  {
  transform: translateY(0);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  background: rgba(33, 150, 243, 0.9);
}


/* Модельное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  transition: opacity 700ms linear, visibility 700ms linear
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  background-color: #FFFFFF;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.field-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--secondary-text-color);
margin-bottom: 4px;
}

.icon-input {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input {
  min-width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input.textarea {
  height: 120px;
  padding: 12px 16px;
  resize:none;
}
.field-input.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field.comment {
  margin-bottom: 20px;
}
.field-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.field-input:focus + .icon-input {
  fill: var(--accent-color);
}

.form-check {
  margin-bottom: 30px;
  position: relative;
}

.check-label {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
padding-left: 36px;
/* display: flex;
justify-content: center;
align-items: center; */
}

/* .check-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-repeat:no-repeat;
} */

.policy-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: var(--accent-color);
}

.send-btn {
  display: block;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  padding: 10px 0;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.check-input:checked ~ .icon-check {
  border: none;
  background-color: var(--accent-color);
}
.check-input:focus ~ .icon-check {
  outline: var(--accent-color) auto 1px;
}